body {
    background-color: #000000;
    margin-left: 0px;
    margin-top: 20px;
    margin-right: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    
}

.canvasContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.artBoardContainer {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: visible;
    /* z-index: -10; */

}

/* .container {

} */

.row {
    
    display: grid;
    position: absolute;
    z-index: 3;
    height: 100vh;
    text-transform: uppercase;
    grid-template-columns: repeat(25, 1fr);
    /* justify-content: space-between; */
    /* height: 70vh; */
    /* width: 80%; */
    text-align: center;
    gap: calc(8px - 1vw);
    row-gap: 32px;
}


.item {
    
    font-weight: 600;
    font-family: sans-serif;
    height: 1em;
    color:rgba(122, 0, 0, 0.05);
    font-weight:bold;
    font-size:3vmin;
    text-shadow:0 0 0.5vmin rgba(0,0,0,0.1);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.letter_on {
    color:rgb(255, 0, 0);
}

@media only screen and (max-width: 500px) {
    .item {
        font-size: 4vmin;
        color: black;
    }
    .letter_on {
        color:rgb(255, 0, 0);
        animation-name: colorChange !important;
        animation-timing-function: ease-in-out;
        animation-duration: 4s;
    }
    .row {
        grid-template-columns: repeat(12, 1fr);
        gap: 4px;
    }
    @keyframes colorChange {
        0% {
            color: rgb(255, 0, 0);
        }
        50% {
            color: rgb(255, 255, 255);
        }
        75% {
            color: rgb(0, 255, 0);
        }
        100% {
            color: rgb(255, 0, 0);
        }
        
    }
    
}


.its {

}

.one {

}

.mOne {

}

.two {

}

.mTwo {

}

.three {

}

.mThree {

}

.four {

}

.mFour {

}

.five {

}

.mFive {

}

.six {

}

.mSix {

}

.seven {

}

.mSeven {

}

.eight {

}

.mEight {

}

.nine {

}

.mNine {

}

.ten {

}

.mTen {
    
}

.eleven {

}

.twelve {

}

.thirteen {

}

.fourteen {

}

.fifteen {

}

.sixteen {

}

.seventeen {
    
}

.eighteen {

}

.nineteen {

}

.twenty {

}

.thirty {

}

.minutes {

}

.past {

}

.to {

}

.noon {

}

.butts {

}

.midnight {

}

.oclock {

}

.in {

}

.the {

}

.moon {

}

.morning {

}

.night {

}



